body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('filkom.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 90%;
    max-width: 800px;
    margin: 20px;
}

h1 {
    text-align: center;
    color: #333;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    margin: 20px 0;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    display: block;
    width: 100%;
    text-align: center;
    font-size: 18px;
}

button:hover {
    background-color: #45a049;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}

.btn {
    padding: 5px 10px;
    margin: 2px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.btn.show {
    background-color: #009688;
    color: white;
    transition: background-color 0.3s ease;
}

.btn.show:hover {
    background-color: #00796b;
}

.btn.edit {
    background-color: #2196F3;
    color: white;
    transition: background-color 0.3s ease;
}

.btn.edit:hover {
    background-color: #1976d2;
}

.btn.delete {
    background-color: #f44336;
    color: white;
    transition: background-color 0.3s ease;
}

.btn.delete:hover {
    background-color: #d32f2f;
}

.form-popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 3px solid #f1f1f1;
    z-index: 9;
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.form-container {
    max-width: 300px;
}

.form-container input[type="text"],
.form-container input[type="number"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0 15px 0;
    border: none;
    background: #f1f1f1;
    border-radius: 5px;
}

.form-container input[type="text"]:focus,
.form-container input[type="number"]:focus {
    background-color: #ddd;
    outline: none;
}

.form-container .btn {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
    opacity: 0.9;
    padding: 10px;
    font-size: 16px;
}

.form-container .cancel {
    background-color: red;
}

.form-container .btn:hover, .open-button:hover {
    opacity: 1;
}